body {
	font-family: Segoe UI,Arial,sans-serif;
}

.header{ height: 167px; }

.logo{ float:left;
	height: 117px;
}

.header .language_icons{ float:right; margin-right:7px; margin-top: 6px; }
.header .language_icons a{ display:inline; margin-bottom: 5px; }

.main {
	background: none repeat scroll 0 0 #EEEEEE;
	border: 1px solid #DDDDDD;
	bottom: 2em;
	height: 85%;
	position: absolute;
	top: 135px;
	right: 10px;
	width: 100%;
	margin: 0 auto;
	overflow: auto;
}

.panel {
	height: 100%;
	float: left;
	margin-left: 5px;
	margin-right: 5px;
	width: 345px;
}

.content {
	border-top: 1px solid #DDDDDD;
	height: 98%;
	margin: 0 0 0 365px;
	width: 70%;
}

#map {
	height: 100%;
	min-height: 300px;
	min-width: 315px;
	width: 100%;
}

img.head_img {
	float: left;
	padding: 20px;
	width: 80%;
}

.language_menu {
	float: right;
}

.routeControls, .searchControls {
	text-align: center;
}

.panel {
	overflow: auto;
}

.link {
	margin: 10px;
}

.menu {
	float: right;
	margin-right: 50px;
	margin-top: 10px;
}

.menu a {
	display: block;
}

.banner {
	display: block;
	margin-left: 50px;
}

.searchResultItem {
	border: none;
	padding: 5px;
}

.searchResultItem:hover, .momoClass:hover {
	border: medium none !important;
	border-radius: 8px 8px 8px 8px;
	background-color: #DD944D;
	cursor: pointer;
}
