img.head_img {
	float:left;
	padding:20px;
}

.language_menu {
	float:right;
}

ul.side_slide_menu {
	list-style:none;
	display:inline;
}

ul.side_slide_menu li {
	display:inline;
	visibility:hidden;
}

ul.side_slide_menu:hover li, ul.side_slide_menu li.current {
	visibility:visible;
}

.map {
	float:right;
	width:60%;
	height:60%;
}
