body {
	font-family: Segoe UI,Arial,sans-serif;
}

.logo {
	float: left;
}

.menu {
	width: 100%;
	background-color: #BE692C;
	clear: both;
}

.menu ul {
	display: inline;
	list-style-type: none;
}

.menu ul li {
	display: inline;
}

.menu .objects {
	float: left;
}

.menu .objects ul {
	list-style-type: none;
	display: inline;
}

.menu .objects ul li {
	display: inline;
}

.menu .search {
	text-align: center;
}

.menu .links {
	text-align: center;
}

.menu .links ul {
	visibility: hidden;
	float: right;
	list-style-type: none;
	display: block;
	background-color: #BE692C;
}

.menu .links ul li {
	display: block;
	background-color: #BE692C;
}

.menu .links ul li.first {
	visibility: visible;
}

.menu .links ul:hover {
	visibility: visible;
}

.content {
	width: 100%;
	overflow: auto;
}

.content .routingPanel {
	float: left;
	width: 20%;
	overflow: auto;
}

.content .map, .map #map {
	float: right;
	width: 700px;
	height: 700px;
}

input[type=checkbox] {
	visibility: hidden;
	border: 2px #F00;
}
