body {
	font-family: Segoe UI,Arial,sans-serif;
	margin: 0px;
}

.logo {
	float: left;
	margin-left: 20px;
}

.checked {
	background-color: #BC5E1A;
}

.menu {
	background-color: #FF984E;
	background: -webkit-gradient(linear, left top, left bottom, from(#E0BF8F), to(#F8B44D));
	background: -moz-linear-gradient(top, #E0BF8F, #F8B44D);
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#E0BF8F', EndColorStr='#F8B44D', GradientType=0);

	clear: both;
	width: 100%;
	height: 30px;
	vertical-align: middle;
	
	border-top: 2px solid #B27316;
	border-bottom: 2px solid #B27316;
}

.menu ul {
	display: inline;
	list-style-type: none;
}

.menu ul li {
	display: inline;
	vertical-align: middle;
}

.menu .objects {
	float: left;
	width: 50%;
}

.menu .objects ul {
	display: inline;
	list-style-type: none;
}

.menu .objects img {
	vertical-align: middle;
}

.menu .objects ul li {
	display: inline;
}

.menu .objects img:hover {
	border: 1px solid #BE8358;
}

.menu .search {
	text-align: center;
	width: 30%;
}

.menu .lang {
	text-align: right;
	float: right;
	width: 10%;
}

.menu .lang ul {
	margin: 0px;
	padding: 0px;
	display: none;
}

.menu .lang ul li {
	border: 1px solid #fff;
	display: inline;
	list-style: none;
	margin-left: 5px;
	margin-right: 5px;
}

.menu .lang:hover ul {
	display: inline;
	background-color: #FF984E;
}

.menu .lang ul li:hover {
	border: 1px solid #BE8358;
}

.content {
	overflow: auto;
	width: 100%;
	height: 100%;
}

.content .panel {
	float: left;
	overflow: auto;
	width: 25%;
	height: 100%;
	text-align: left;
	margin-top: 10px;
}

.content .map {
	float: right;
	height: 100%;
	width: 75%;
}

#map {
	height: 700px;
	z-index: 0;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
	padding: 10px;
}

.wml-container {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.ui-autocomplete {
	max-height: 100px;
	overflow-y: auto;
	overflow-x: hidden;
}

.searchResults {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	border-top: 2px solid black;
	background-color: #FFAA6F;
}
