body {
	font-family: Segoe UI,Arial,sans-serif;
}

.main {
	background: none repeat scroll 0 0 #EEEEEE;
	border: 1px solid #DDDDDD;
	bottom: 2em;
	height: 100%;
	top: 135px;
	right: 10px;
	width: 100%;
	margin: 0 auto;
	overflow: auto;
}

.panel {
	height: 100%;
	float: left;
	margin-left: 5px;
	margin-right: 5px;
	width: 345px;
}

#map {
	height: 700px;
	min-height: 300px;
	min-width: 315px;
	width: 70%;
}

.language_menu {
	float: right;
}

.routeControls, .searchControls {
	text-align: center;
}

.panel {
	overflow: auto;
}

.link {
	margin: 10px;
}

.searchResultItem {
	border: none;
	padding: 5px;
}

.searchResultItem:hover, .momoClass:hover {
	border: medium none !important;
	border-radius: 8px 8px 8px 8px;
	background-color: #DD944D;
	cursor: pointer;
}
