#panelQuickLinks{ :class => "ui-widget-content ui-corner-all" }
	%h2{ :class => "ui-widget-header ui-corner-all" } Quick links
	%p
		%a{ :class => "link", :onClick => "mapToPoint('Kyiv stadium', 15)", :href => "" }
			= t('place.kyiv')
	%p
		%a{ :class => "link", :onClick => "mapToPoint('Kharkiv stadium', 15)", :href => "" }
			= t('place.kharkiv')
	%p
		%a{ :class => "link", :onClick => "mapToPoint('Donetsk stadium', 15)", :href => "" }
			= t('place.donetsk')
	%p
		%a{ :class => "link", :onClick => "mapToPoint('Lviv stadium', 15)", :href => "" }
			= t('place.lviv')