:javascript
	$(function() {
		$("#printRoute").button().hide();
	});

#tabsRouting
	.markerList

	%br/
		
	.routeControls
		%input#addWaypoint{ :type => "checkbox", :onClick => "return false;" }
			%label{ :for => "addWaypoint", :style => "width: 90%" }
				= image_tag "controls/add_waypoint.png"

		%br/
		%br/

		.routeType
			%input#car{ :type => "radio", :name => "routeType", :onClick => "changeRouteType('car');" }
				%label{ :for => "car" }
					= image_tag "controls/car.png"

			%input#truck{ :type => "radio", :name => "routeType", :onClick => "changeRouteType('foot');" }
				%label{ :for => "truck" }
					= image_tag "controls/truck.png"
			
		%br/
			
		%a#printRoute{ :name => "printRoute", :onClick => "printRoute();" }
			= image_tag "controls/print_icon.png"
			
		%br/
	%br/
		
	#routingPanel
