#tabsSearch
	:javascript
		$(function() {
			$("#searchControl").button();
		});
		
	.searchControls
		%input#searchQuery{ :type => "edit", :name => "query", :title => "#{ t "panel.search_query" }" }
		
		%br/
		%br/
		
		%input#searchControl{ :type => "submit", :value => "#{t 'panel.doSearch'}", :title => "#{t 'panel.doSearchTip'}", :onClick => "geoSearch();" }
	
	%br/
		
	.searchResults
