#tabsObjects
	%form
		%input{ :type => "checkbox", :name => "carService", :onClick => "switchLayer('carService');" }
		%label{ :for => "carService" }= t('objects.carService')
		
		%br/
		
		%input{ :type => "checkbox", :name => "webCam"}
		%label{ :for => "webCam" }= t('objects.webCam')
		
		%br/
		
		%input{ :type => "checkbox", :name => "hotel"}
		%label{ :for => "hotel" }= t('objects.hotel')
		
		%br/
		
		%input{ :type => "checkbox", :name => "weather", :onClick => "switchLayer('weather')"}
		%label{ :for => "weather" }= t('objects.weather')