#tabsRouting
	.markerList

	%br/
		
	.routeControls
		%input#addWaypoint{ :type => "checkbox", :onClick => "return false;" }
			%label{ :for => "addWaypoint", :style => "width: 90%" }
				= image_tag "controls/add_waypoint.png"

		%br/
		%br/

		.routeType
			%input#car{ :type => "radio", :name => "routeType", :onClick => "changeRouteType('car');" }
				%label{ :for => "car" }
					= image_tag "controls/car.png"

			%input#foot{ :type => "radio", :name => "routeType", :onClick => "changeRouteType('foot');" }
				%label{ :for => "foot" }
					= image_tag "controls/walking.png"

			%input#bicycle{ :type => "radio", :name => "routeType", :onClick => "changeRouteType('bicycle');" }
				%label{ :for => "bicycle" }
					= image_tag "controls/cycling.png"
					
		%br/
	%br/
		
	#routingPanel