#tabsObjects
	:javascript
		$(function() {
			$(".objectControls").buttonset();
		});
		
	.objectControls
		%input#carService{ :type => "checkbox", :onClick => "switchLayer('carService');" }
			%label{ :for => "carService" }
				= t('objects.carService')
		
		%br/
		
		%input#webCam{ :type => "checkbox", :onclick => "switchLayer('webCams');"}
			%label{ :for => "webCam" }
				= t('objects.webCam')
		
		%br/
		
		%input#hotel{ :type => "checkbox"}
			%label{ :for => "hotel" }
				= t('objects.hotel')
		
		%br/
		
		%input#weather{ :type => "checkbox", :onClick => "switchLayer('weather')"}
			%label{ :for => "weather" }
				= t('objects.weather')
