<div class="language_menu">
	<ul class="side_slide_menu">
	<% @languages.each do |i| %>
			<li <%= "class='current'" if (i == @current_lang) %>><a href="#"><%= i %></a></li>
	<% end %>
	</ul>
</div>

<br />
<a onClick="centerMap(50.433, 30.521, 15)">Set center to Kiev</a><br />
<a onClick="centerMap(49.980, 36.261, 15)">Set center to Harkiv</a><br />
<a onClick="centerMap(48.021, 37.810, 15)">Set center to Donecck</a><br />
<a onClick="centerMap(49.775, 24.026, 15)">Set center to Lviv</a>
<br />

<div id="map" style="width:500px; height:500px;"></div>
