<div class="language_menu">
	<ul class="side_slide_menu">
	<% @languages.each do |i| %>
			<li <%= "class='current'" if (i == @current_lang) %>><a href="#"><%= i %></a></li>
	<% end %>
	</ul>
</div>

<br />
<a onClick="createMap(30.514, -58.587)">Set center to Kiev</a>
<br />

<div id="map" style="width:500px; height:500px;"></div>
