<%= image_tag("head.jpg", :alt => "heading", :class => "head_img") %>

<br />

<div class="language_menu">
	<ul class="side_slide_menu">
	<% @languages.each do |i| %>
		<% if i == @current_lang %>
			<li class="current"><a href="#"><%= i %></a></li>
		<% else %>
			<li><%= i %></li>
		<% end %>
	<% end %>
	</ul>
</div>

<div id="map" style="width: 500px; height: 500px"></div>

<script type="text/javascript">
$(document).ready(function() {
    var cloudmade = new CM.Tiles.CloudMade.Web({key: 'BC9A493B41014CAABB98F0471D759707'});
    var map = new CM.Map('map', cloudmade);
    map.setCenter(new CM.LatLng(51.514, -0.137), 15);
	map.addControl(new CM.LargeMapControl());
	map.addControl(new CM.ScaleControl());
	map.addControl(new CM.OverviewMapControl());
});
</script>
