<h1>Home#index</h1>
<div id="map" style="width: 500px; height: 500px"></div>
<script type="text/javascript">
$(document).ready(function() {
    var cloudmade = new CM.Tiles.CloudMade.Web({key: 'BC9A493B41014CAABB98F0471D759707'});
    var map = new CM.Map('map', cloudmade);
    map.setCenter(new CM.LatLng(51.514, -0.137), 15);
	map.addControl(new CM.LargeMapControl());
	map.addControl(new CM.ScaleControl());
	map.addControl(new CM.OverviewMapControl());
});
</script>