.header
	.logo
		%a{ :href => "#", :title => "Euro 2012 Ukraine-Poland" }
			=image_tag "euro2012-logo.jpg", :alt => "Euro 2012 Ukraine-Poland"

	.stadiums
		.city
			%a{ :class => "logo", :onClick => "mapToPoint('Kyiv stadium', 15)" }
				=image_tag "kiev.jpg", :alt => "" 
				
			%a{ :class => "link", :onClick => "mapToPoint('Kyiv stadium', 15)" }
				=image_tag "uk-kiev.gif", :alt => "" 
		
		.city
			%a{ :class => "logo", :onClick => "mapToPoint('Kharkiv stadium', 15)" }
				=image_tag "kharkiv.jpg", :alt => "" 
				
			%a{ :class => "link", :onClick => "mapToPoint('Kharkiv stadium', 15)" }
				=image_tag "uk-kharkiv.gif", :alt => "" 

		.city
			%a{ :class => "logo", :onClick => "mapToPoint('Donetsk stadium', 15)" }
				=image_tag "donetsk.jpg", :alt => "" 
				
			%a{ :class => "link", :onClick => "mapToPoint('Donetsk stadium', 15)" }
				=image_tag "uk-donetsk.gif", :alt => "" 

		.city
			%a{ :class => "logo", :onClick => "mapToPoint('Lviv stadium', 15)" }
				=image_tag "lviv.jpg", :alt => "" 
				
			%a{ :class => "link", :onClick => "mapToPoint('Lviv stadium', 15)" }
				=image_tag "uk-lviv.gif", :alt => ""

	.language_icons
		%a{ :href => "&lang=en" }
			=image_tag "en.png" 
		%a{ :href => "&lang=uk" }
			=image_tag "uk.png" 
		%a{ :href => "&lang=ru" }
			=image_tag "ru.png" 

.main
	.outer
		:javascript
			$(function() {
				$("#tabs").tabs();
			});
			
		.panel
			#tabs
				%ul
					%li
						%a{ :href => "#tabsRouting" } Routing
					%li
						%a{ :href => "#tabsSearch" } Search
					%li
						%a{ :href => "#tabsObjects" } Objects
				#tabsRouting
					%form
						%label{ :for => "point1" } Point 1:
						%input{ :type => "edit", :name => "point1" }
						%label{ :for => "point2" } Point 2:
						%input{ :type => "edit", :name => "point2" }
				#tabsSearch
					%form
						%input{ :type => "edit", :name => "query" }
						%input{ :type => "submit", :name => "search", :value => "Search" }
				#tabsObjects
					%form
						%input{ :type => "checkbox", :name => "poi" }
						%label{ :for => "poi" } POI
						
			%br/
						
			#panelQuickLinks{ :class => "ui-widget-content ui-corner-all" }
				%h2{ :class => "ui-widget-header ui-corner-all" } Quick links
				%p
					%a{ :class => "link", :onClick => "mapToPoint('Kyiv stadium', 15)", :href => "" } Kyiv
				%p
					%a{ :class => "link", :onClick => "mapToPoint('Kharkiv stadium', 15)", :href => "" } Kharkiv
				%p
					%a{ :class => "link", :onClick => "mapToPoint('Donetsk stadium', 15)", :href => "" } Donetsk
				%p
					%a{ :class => "link", :onClick => "mapToPoint('Lviv stadium', 15)", :href => "" } Lviv
	.content
		#map.olMap
