<%= image_tag("head.jpg", :alt => "heading", :class => "head_img") %>

<br />

<div class="language_menu">
	<ul class="side_slide_menu">
	<% @languages.each do |i| %>
			<li <%= "class='current'" if (i == @current_lang) %>><a href="#"><%= i %></a></li>
	<% end %>
	</ul>
</div>

<div id="map" style="float:right;"></div>
