%h1 Функциональное назначение.
Интернет-сайт реализует социальные обязательства государства по обеспечению водителей информацией:
%ul
	%li О существующей сети автомобильных дорог государственного значения и параллельные маршруты с дорог местного значения;
	%li О реальном состоянии проезда по дороге, наличие "критических ситуаций" (гололеда, значительной неровности покрытия, ямковитых участков, мест ДТП с тяжелыми последствиями, мест природных и техногенных катастроф, участков на которых проводятся ремонтные работы и т.п.);
	%li О местоположении пунктов медицинской помощи, площадок отдыха, пунктов сервиса (АЗС, СТО и др.);
	%li Другой информации, которая может повысить безопасность движения по дорогам.

= image_tag 'e-roads-ukraine.jpg'