.header
	.logo
		%a{ :href => "#", :title => "Euro 2012 Ukraine-Poland" }
			=image_tag "euro2012-logo.jpg", :alt => "Euro 2012 Ukraine-Poland"

	.stadiums
		.city
			%a{ :class => "logo", :onClick => "mapToPoint('Kyiv stadium', 15)" }
				=image_tag "kiev.jpg", :alt => "" 
				
			%a{ :class => "link", :onClick => "mapToPoint('Kyiv stadium', 15)" }
				=image_tag "uk-kiev.gif", :alt => "" 
		
		.city
			%a{ :class => "logo", :onClick => "mapToPoint('Kharkiv stadium', 15)" }
				=image_tag "kharkiv.jpg", :alt => "" 
				
			%a{ :class => "link", :onClick => "mapToPoint('Kharkiv stadium', 15)" }
				=image_tag "uk-kharkiv.gif", :alt => "" 

		.city
			%a{ :class => "logo", :onClick => "mapToPoint('Donetsk stadium', 15)" }
				=image_tag "donetsk.jpg", :alt => "" 
				
			%a{ :class => "link", :onClick => "mapToPoint('Donetsk stadium', 15)" }
				=image_tag "uk-donetsk.gif", :alt => "" 

		.city
			%a{ :class => "logo", :onClick => "mapToPoint('Lviv stadium', 15)" }
				=image_tag "lviv.jpg", :alt => "" 
				
			%a{ :class => "link", :onClick => "mapToPoint('Lviv stadium', 15)" }
				=image_tag "uk-lviv.gif", :alt => ""

	.language_icons
		%a{ :href => "?lang=en" }
			=image_tag "flags/en.png" 
		%a{ :href => "?lang=uk" }
			=image_tag "flags/uk.png" 
		%a{ :href => "?lang=ru" }
			=image_tag "flags/ru.png" 

.main
	.outer
		:javascript
			$(function() {
				$("#tabs").tabs();
				$(".routeType").buttonset();
				$(".addMarker").button();
			});
			
		.panel
			#tabs
				%ul
					%li
						%a{ :href => "#routingTab" } Routing
						
					%li
						%a{ :href => "#searchTab" } Search
						
					%li
						%a{ :href => "#objectsTab" } Objects
						
				#routingTab
					.addMarker{ :onClick => "return false;" }  hello, isden!
					%br/
					.routeType
						%input#carFast{ :type => "radio", :name => "routeType", :checked => "checked", :onClick => "changeRouteType('car');" }
							%label{ :for => "carFast" }
								= t 'panel.car_fastest_route'
							
						%input#carShort{ :type => "radio", :name => "routeType", :onClick => "changeRouteType('car/shortest');" }
							%label{ :for => "carShort" }
								= t 'panel.car_shortest_route'
							
						%input#foot{ :type => "radio", :name => "routeType", :onClick => "changeRouteType('foot');" }
							%label{ :for => "foot" }
								= t 'panel.foot_route'
						
						%input#bicycle{ :type => "radio", :name => "routeType", :onClick => "changeRouteType('bicycle');" }
							%label{ :for => "bicycle" }
								= t 'panel.bicycle_route'
						
					%br/
					#routingPanel
					
				#searchTab
					%form
						%input{ :type => "edit", :name => "query" }
						%input{ :type => "submit", :name => "search", :value => "Search" }
						
				#objectsTab
					%p some fucking content3
	.content
		#map.olMap
