.header
    .logo
        %a{ :href => "#", :title => "hello, isden!" }
			%img{ :alt => "", :src => "euro2012-logo.jpg" }

    .stadiums
        .city
            %a{ :class => "logo", :onclick => "addCity(&#39;kiev&#39;);" }
				%img{ :src => "kiev.jpg", :alt => "" }
				
            %a{ :class => "link", :onclick => "addCity(&#39;kiev&#39;);" }
				%img{ :src => "uk-kiev.gif", :alt => "" }
        
        .city
            %a{ :class => "logo", :onclick => "addCity(&#39;kharkiv&#39;);" }
				%img{ :src => "kharkiv.jpg", :alt => "" }
				
            %a{ :class => "link", :onclick="addCity(&#39;kharkiv&#39;);" }
				%img{ :src => "uk-kharkiv.gif", :alt => ""

        .city
            %a{ :class => "logo", :onclick => "addCity(&#39;donetsk&#39;);" }
				%img{ :src => "donetsk.jpg", :alt => "" }
				
            %a{ :class => "link", :onclick => "addCity(&#39;donetsk&#39;);" }
				%img{ :src => "uk-donetsk.gif", :alt => "" }

        .city
            %a{ :class => "logo", :onclick => "addCity(&#39;lviv&#39;);" }
				%img{ :src => "lviv.jpg", :alt => "" }
				
            %a{ :class => "link", :onclick => "addCity(&#39;lviv&#39;);" }
				%img{ :src => "uk-lviv.gif", :alt => ""

    .language_icons
        %a{ :href => "http://autodor.ihatereg.com/?lang=en" }
			%img{ :alt => "", :src => "en.png" }
        %a{ :href => "http://autodor.ihatereg.com/?lang=uk" }
			%img{ :alt => "", :src => "uk.png" }
        %a{ :href => "http://autodor.ihatereg.com/?lang=ru"
			%img{ :alt => "", :src => "ru.png" }

.main
	.outer
		.panel
			#nav_header{ :style => "height: 368px;", :class => "ui-accordion ui-widget ui-helper-reset ui-accordion-icons", :role => "tablist"

	.content
		#map.olMap
