.header
	.logo
		%a{ :href => "#", :title => "Euro 2012 Ukraine-Poland" }
			=image_tag "euro2012-logo.jpg", :alt => "Euro 2012 Ukraine-Poland"

	.stadiums
		.city
			%a{ :class => "logo", :onclick => "addCity(&#39;kiev&#39;);" }
				=image_tag "kiev.jpg", :alt => "" 
				
			%a{ :class => "link", :onclick => "addCity(&#39;kiev&#39;);" }
				=image_tag "uk-kiev.gif", :alt => "" 
		
		.city
			%a{ :class => "logo", :onclick => "addCity(&#39;kharkiv&#39;);" }
				=image_tag "kharkiv.jpg", :alt => "" 
				
			%a{ :class => "link", :onclick => "addCity(&#39;kharkiv&#39;);" }
				=image_tag "uk-kharkiv.gif", :alt => "" 

		.city
			%a{ :class => "logo", :onclick => "addCity(&#39;donetsk&#39;);" }
				=image_tag "donetsk.jpg", :alt => "" 
				
			%a{ :class => "link", :onclick => "addCity(&#39;donetsk&#39;);" }
				=image_tag "uk-donetsk.gif", :alt => "" 

		.city
			%a{ :class => "logo", :onclick => "addCity(&#39;lviv&#39;);" }
				=image_tag "lviv.jpg", :alt => "" 
				
			%a{ :class => "link", :onclick => "addCity(&#39;lviv&#39;);" }
				=image_tag "uk-lviv.gif", :alt => "" 

	.language_icons
		%a{ :href => "/home/moar?lang=en" }
			=image_tag "en.png" 
		%a{ :href => "/home/moar/?lang=uk" }
			=image_tag "uk.png" 
		%a{ :href => "/home/moar?lang=ru" }
			=image_tag "ru.png" 

.main
	.outer
		.panel
			#nav_header{ :style => "height: 368px;", :class => "ui-accordion ui-widget ui-helper-reset ui-accordion-icons", :role => "tablist" }

	.content
		#map.olMap
