.header
	.logo
		%a{ :href => "#", :title => "Euro 2012 Ukraine-Poland" }
			=image_tag "euro2012-logo.jpg", :alt => "Euro 2012 Ukraine-Poland"

	.stadiums
		.city
			%a{ :class => "logo", :onClick => "mapToPoint('Kyiv stadium', 15)" }
				=image_tag "kiev.jpg", :alt => "" 
				
			%a{ :class => "link", :onClick => "mapToPoint('Kyiv stadium', 15)" }
				=image_tag "uk-kiev.gif", :alt => "" 
		
		.city
			%a{ :class => "logo", :onClick => "mapToPoint('Kharkiv stadium', 15)" }
				=image_tag "kharkiv.jpg", :alt => "" 
				
			%a{ :class => "link", :onClick => "mapToPoint('Kharkiv stadium', 15)" }
				=image_tag "uk-kharkiv.gif", :alt => "" 

		.city
			%a{ :class => "logo", :onClick => "mapToPoint('Donetsk stadium', 15)" }
				=image_tag "donetsk.jpg", :alt => "" 
				
			%a{ :class => "link", :onClick => "mapToPoint('Donetsk stadium', 15)" }
				=image_tag "uk-donetsk.gif", :alt => "" 

		.city
			%a{ :class => "logo", :onClick => "mapToPoint('Lviv stadium', 15)" }
				=image_tag "lviv.jpg", :alt => "" 
				
			%a{ :class => "link", :onClick => "mapToPoint('Lviv stadium', 15)" }
				=image_tag "uk-lviv.gif", :alt => ""

	.language_icons
		%a{ :href => "&lang=en" }
			=image_tag "en.png" 
		%a{ :href => "&lang=uk" }
			=image_tag "uk.png" 
		%a{ :href => "&lang=ru" }
			=image_tag "ru.png" 

.main
	.outer
		:javascript
			$(function() {
				$("#tabs").tabs();
			});
			
		.panel
			#tabs
				%ul
					%li
						%a{ :href => "#tabs-1" } Routing
						
					%li
						%a{ :href => "#tabs-2" } Search
						
					%li
						%a{ :href => "#tabs-3" } Objects
						
				#tabs-1
					%a{ :onClick => "addMarker('start', 'moo');" }  hello, isden!
					
				#tabs-2
					%form
						%input{ :type => "edit", :name => "query" }
						%input{ :type => "submit", :name => "search", :value => "Search" }
						
				#tabs-3
					%p some fucking content3
	.content
		#map.olMap
