.demo
	#tabs
		%ul
			%li
				%a{ :href => "#tabs-1" } Tabs-1
			%li
				%a{ :href => "#tabs-1" } Tabs-2
			%li
				%a{ :href => "#tabs-1" } Tabs-3
		#tabs-1
			%p some fucking content
		#tabs-2
			%p some fucking content2
		#tabs-3
			%p some fucking content3
			
