<div class="demo">
	<div id="tabs">
		<ul>
			<li><a href="#tabs-1">Nunc tincidunt</a></li>
			<li><a href="#tabs-2">Proin dolor</a></li>
			<li><a href="#tabs-3">Aenean lacinia</a></li>
		</ul>
		<div id="tabs-1">
			<p>Some fucking content</p>
		</div>
		<div id="tabs-2">
			<p>Some fucking content 2.</p>
		</div>
		<div id="tabs-3">
			<p>Some fucking content 3.</p>
		</div>
	</div>
</div>


<div class="demo-description" style="display: none; ">
<p>Click tabs to swap between content that is broken into logical sections.</p>
</div><!-- End demo-description -->