.moo{ :style => "text-align: center;" }
	%h1{ :style => "float: left;" }
		= (t 'about.about').html_safe

	%br/

	= image_tag "/images/datacenter.jpg"

	%br/

	%p
		= (t 'about.description').html_safe
