%h1
	Контактна інформація	

%p
	%p
		Інформаційний відділ: 
		%a{ :href => 'mailto:info@mykolaivautodor.heroku.com' } info@mykolaivautodor.heroku.com
	%p
		Тех. підтримка:
		%a{ :href => 'mailto:support@mykolaivautodor.heroku.com' } info@mykolaivautodor.heroku.com
