%h1
	Контактна інформація	

%p
	%table
		%tr
			%td
				САВЧЕНКО Генадій Васильович
			%td
				Начальник
			%td
				56-41-14

		%tr
			%td
				БЛОШЕНКО Валерій Іванович
			%td
				Перший заступник начальника
			%td
				53-61-60

		%tr
			%td
				ГОРБАТЮК Ігор Анатолійович
			%td
				Заступник начальника з ремонту та експлуатаційного утримання автодоріг
			%td
				53-61-65

		%tr
			%td
				ОНІСІМОВА Євгенія Йосипівна
			%td
				Заступник начальника з фінансових питань
			%td
				56-38-60

		%tr
			%td{ :colspan => 2 }
				Чергові	ф.
			%td
				56-41-16, 56-37-90
