%h1
	Законодавство України

%p
	%a{ :href => "http://www.rada.gov.ua/cgi-bin/laws/main.cgi?nreg=891-17" }
		Закон України "Про внесення змін до Закону України "Про концесії на будівництво та експлуатацію автомобільних доріг"
%p
	%a{ :href => "http://www.rada.gov.ua/cgi-bin/laws/main.cgi?nreg=363-17" }
		Закон України "Про ратифікацію Угоди між Кабінетом Міністрів України та Урядом Угорської Республіки про точки з'єднання автомобільних доріг на українсько-угорському кордоні у рамках П'ятого пан'європейського транспортного коридору"
%p
	%a{ :href => "http://www.rada.gov.ua/cgi-bin/laws/main.cgi?nreg=363-17" }
		Закон України " Про ратифікацію Фінансової угоди (Україна - проект європейських доріг України) між Україною та Європейським інвестиційним банком"
%p
	%a{ :href => "http://www.rada.gov.ua/cgi-bin/laws/main.cgi?nreg=928-16" }
		Закон України Про ратифікацію Кредитної угоди (Третій проект "Ремонт автомобільної дороги Київ - Чоп") між Україною та Європейським банком реконструкції та розвитку
%p
	%a{ :href => "http://www.rada.gov.ua/cgi-bin/laws/main.cgi?nreg=2862-15" }
		Закон України "Про автомобільні дороги"
%p
	%a{ :href => "http://www.rada.gov.ua/cgi-bin/laws/main.cgi?nreg=855-15" }
		Закон України "Про реконструкцію та експлуатацію на платній основі автомобільної дороги Київ - Одеса"
%p
	%a{ :href => "http://www.rada.gov.ua/cgi-bin/laws/main.cgi?nreg=3022-14" }
		Закон України "Про Комплексну програму утвердження України як транзитної держави у 2002-2010 роках
%p
	%a{ :href => "http://www.rada.gov.ua/cgi-bin/laws/main.cgi?nreg=1644-14" }
		Закон України "Про перевезення небезпечних вантажів"
%p
	%a{ :href => "http://www.rada.gov.ua/cgi-bin/laws/main.cgi?nreg=1562-12" }
		Закон України "Про джерела фінансування дорожнього господарства України"
%p
	%a{ :href => "http://zakon.rada.gov.ua/cgi-bin/laws/main.cgi?nreg=232%2F94%2D%E2%F0" }
		Закон України "Про транспорт"
%p
	%a{ :href => "http://zakon.rada.gov.ua/cgi-bin/laws/main.cgi?nreg=3353%2D12" }
		Закон України "Про дорожній рух"