%h1= t('links.head')
.link
	=image_tag "/images/sites/euro2012highway_thumb.png"
	%a{ :href => "http://euro2012highway.blogspot.com/", :target => '_blank' }
		= t('links.euro2012highway')
.link
	=image_tag "/images/sites/diprodor_thumb.png"
	%a{ :href => "http://diprodor.com", :target => '_blank' }
		= t('links.diprodor')