%h1
	Повідомити про пригоду

%p
	З цієї сторінки ви зможете надіслати адміністрації повідомлення про дорожньо-транспортну пригоду, подію і т.п. В свою чергу, ми намагатимемось якомога швидше розмістити ваше повідомлення на ресурсі.

= form_tag( { :controller => :page, :action => :send_notify }, :method => :post ) do
	= text_area  :message, :size => "60x12"
	%br/
	%br/
	= submit_tag "Notify!"
