<!DOCTYPE html>
<html>
  <head>
    <title>Autodor</title>
  
    <%= stylesheet_link_tag :all %>
  
    <script src="https://www.google.com/jsapi?key=ABQIAAAAoboZS-nzwx1YaGkU-ISITBSZbqWu_yCLftQ5Cx-x_HqOIUCHaBQUYqtrk_058i-_cvilWaf0yJw2jA" type="text/javascript"></script>
  
    <script type="text/javascript">
      google.load("jquery", "1.5.1");
      google.load("jqueryui", "1.8.10");
    </script>
  
    <script type="text/javascript" src="http://tile.cloudmade.com/wml/latest/web-maps-lite.js"></script>

    <%= csrf_meta_tag %>
  </head>

  <body>

    <%= yield %>

  </body>
</html>
